# ignore figures
*.png
/notebook/Pictures

# ignore cpython folder fot function file
**/__pycache__

# roba di make
*.log

# non so cosa
*.pyc

# vscode things
.vscode/**
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log

# my stuff
*cose-da-fare.md